<section class="section-main">
    <app-toolbar></app-toolbar>

    <div class="row row-map" style="width: 100%;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style list-map">
                <li class="breadcrumb-item">
                    <mat-icon>home</mat-icon>
                </li>
                <li class="breadcrumb-item bcrumb-1 titulo">
                    Triagem
                </li>
            </ul>
        </div>
    </div>

    <section class="container-triagem">
        <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Data</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        readonly
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Urgência</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let urgencia of listaUrgencia" [value]="urgencia">
                            {{urgencia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let status of listaStatus" [value]="status">
                            {{status}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                    <mat-label>Digite aqui o CPF ou nome do paciente</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="000.000.000-00"
                    />
                </mat-form-field>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="urgencia">
                        <th mat-header-cell *matHeaderCellDef> Urgência</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="badge badge-pill badge-urgencia" 
                                [ngClass]="defineUrgenciaColor(element.urgencia)">
                                {{element.urgencia}} 
                            </span> 
                        </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="nome">
                      <th mat-header-cell *matHeaderCellDef> Nome </th>
                      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="idade">
                      <th mat-header-cell *matHeaderCellDef> Idade </th>
                      <td mat-cell *matCellDef="let element"> {{element.idade}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="pressao">
                      <th mat-header-cell *matHeaderCellDef> Pressão </th>
                      <td mat-cell *matCellDef="let element"> {{element.pressao}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="temperatura">
                      <th mat-header-cell *matHeaderCellDef> Temperatura </th>
                      <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="oximetro">
                      <th mat-header-cell *matHeaderCellDef> Oxímetro </th>
                      <td mat-cell *matCellDef="let element"> {{element.oximetro}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="peso">
                      <th mat-header-cell *matHeaderCellDef> Peso </th>
                      <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="altura">
                      <th mat-header-cell *matHeaderCellDef> Altura </th>
                      <td mat-cell *matCellDef="let element"> {{element.altura}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="dataHora">
                      <th mat-header-cell *matHeaderCellDef> Data/Hora </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataHora}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="badge badge-pill badge-status" 
                            [ngClass]="defineStatusColor(element.status)">
                            {{element.status}} 
                        </span> 
                    </td>
                    </ng-container>

                    <ng-container matColumnDef="acao">
                      <th mat-header-cell *matHeaderCellDef> Ação </th>
                      <td mat-cell *matCellDef="let element" class="btn-eye" (click)="openEnd(content, element)"> <mat-icon>remove_red_eye</mat-icon> </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
        </div>
    </section>

    <ng-template #content let-offcanvas>
        <div class="offcanvas-header divs-modal-triagem">
            <h4 class="offcanvas-title titulo-modal-triagem">{{ pacienteModalTriagem.nome }}</h4>
            <span class="badge badge-pill badge-urgencia" 
                [ngClass]="defineUrgenciaColor(pacienteModalTriagem.urgencia)">
                {{pacienteModalTriagem.urgencia}} 
            </span>
            <button type="button" style="margin-left: 20px;" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <hr>
        <div class="offcanvas-body divs-modal-triagem">
            <section class="container-modal-triagem">
                <div class="row" style="width: 100%;">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Idade</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="idade"
                                required
                            />
                            <mat-error *ngIf="idade.hasError('required')">
                                Idade é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Pressão</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="pressao"
                                required
                            />
                            <mat-error *ngIf="pressao.hasError('required')">
                                Pressão é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Temperatura</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="temperatura"
                                required
                            />
                            <mat-error *ngIf="temperatura.hasError('required')">
                                Temperatura é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Oxímetro</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="oximetro"
                                required
                            />
                            <mat-error *ngIf="oximetro.hasError('required')">
                                Oxímetro é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Peso</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="peso"
                                required
                            />
                            <mat-error *ngIf="peso.hasError('required')">
                                Peso é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </div>
 
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 div-inputs-modal-triagem">
                        <mat-form-field class="form-field" appearance="fill" style="width: 100%;">
                            <mat-label>Altura</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="altura"
                                required
                            />
                            <mat-error *ngIf="altura.hasError('required')">
                                Altura é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-inputs-modal-triagem">
                        <mat-form-field [style.fontSize]="14" appearance="fill" style="width: 100%;">
                            <mat-label>Observações</mat-label>
                            <textarea matInput
                                [formControl]="observacoes"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="10"
                                cdkAutosizeMaxRows="20">
                            </textarea>
                          </mat-form-field>
                    </div>
 
                </div>

                <div class="row" style="width: 100%; margin-top: 10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       
                        <div style="float: right !important">
                            <button mat-raised-button
                                color="primary"
                                class="btn btn-cancelar-triagem">
                                Cancelar
                            </button>

                            <button mat-raised-button
                                color="primary"
                                class="btn btn-concluir-triagem">
                                Concluir triagem
                            </button>
                        </div>
                    </div>
                </div>

           </section>
        </div>

    </ng-template>

</section>
